.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#aa4b6b, #6b6b83, #3b8d99);
}

.form-wrapper {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 16px 24px;
    max-width: 460px;
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 6px
}

.submit-btn {
    margin-top: 0px;
    color: #ffffff !important;
    background-color: hsl(152deg 64% 47%) !important;
    font-weight: 450 !important;
    border: 1px solid hsl(152deg 64% 47%) !important;
}
.submit-btn-background {
    background-color: hsl(152deg 64% 47%) !important;
}
.title-form {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.custom-link-style {
    padding:0px !important;
    color: hsl(260deg 2% 51%) !important;
}

.custom-alert-style {
    background: rgb(255 255 255) !important;
    padding: 0px !important;
    border: 0px rgb(255 255 255) !important;
    min-height: 20px !important;
}

.custom-alert-error {
    color: red;
    text-transform: lowercase !important;
}


